@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Serif+JP&family=Permanent+Marker&display=swap');

*{
    /* font-family: 'Anton', sans-serif;     */
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Noto Serif JP', serif;
    width: 100%;
    box-sizing: border-box;
    /* text-decoration: none; */
    /* border: solid gold 1px; */
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    text-decoration: none;
    color: black;
      border-bottom:solid #000000;
      padding-bottom: 1%;
      color: white;
}

.nav-box{
    /* position: fixed; */
    width: 100%;
    padding: 0% 13%;
   margin-top: 2%;
}

nav{    
    border-bottom: 1px;
    margin: 2% 13% 4%;
    padding-top: 10px;
    height: 50px;
    text-align: center;
    background-color: black;
    border-radius: 2%;
}

.kategorije a{
    color: black;
    text-decoration: none;
    height: 100vh;
}

img{
    /* border: solid 1px black; */
    border-radius: 3%;
}

#logo{
    align-self: center;
    text-align: center;
    margin-top: 2%;
    font-weight: 900 ;
    font-size:60px;
}

.prikaz{
    padding-left: 15%;
    padding-right: 15%;
}

.oneimage{
    text-decoration: none;
    padding-bottom: 15px;
}

.prikaz img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(50%);
    filter: none;
    transition: 1s ease;
    }

.nazivArtikla{
    text-align: center;
    text-decoration: none;
    font-size:20px;
}

li{
    list-style-type: none;
    margin: 15px 0;
    font-size: larger;
    border-bottom:0.01em solid grey;
    width: 90%;
}

footer{
    background-color: black;
    height: 20vh;
    width: 100vw;
}


.uvelicano{
    width: 20;
}


.artikal_info h2{
    text-transform:uppercase;
    border-bottom: 1px solid grey;
}


.artikal_info div{
    padding-bottom: 5%;
}

#cena-info{
    color: red;
}

.btn-prikaz{
    background-color: black;
    color: white;
    width: 50%;
    height: 50px;
}

.scroll{
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 20%;
}
.popup{
    height: 100vh;
    /* overflow-y: scroll; */
    position: fixed;
    width: 25%;
    background-color:whitesmoke;
    border: solid 1px black;
    top:0px;
    right: 0px;
    /* transform: translate(0%,-1%) scale(0.1); */
    transform: scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}

.open-popup{
    visibility: visible;
    transform: scale(1);
}

.cart{
    position:absolute;
    width: 15vw;
    top: 9%;
    right: 14%;
    text-align: center;
    
}

.cart-img img{
    height: 40vh;
    width: auto;
}

.cart-box{
    padding: 0% 13%;
    text-align: center;
    /* align-items: center; */
}

.cart-info{
    margin-top: 10px;
    font-size: larger;
}

.cart-btn{
    background-color: black;
}

.cart-bttn{
    position: fixed;
    height: 40px;
    bottom: 0;
}

.cart-price{
    position: fixed;
    height: 13%;
    bottom: 0px;
    border: solid 1px grey;
    color: white;
    background-color: black;
}

.cart-container{
    width: 100%;
    /* position: fixed; */
    top: 0px;
    margin-bottom: 10%;
    
}

.korpa-bttn{
    position: fixed;
    bottom: 20px;
    left: 31%;
    height: 40px;
    width: 40%;
    background-color: black;
    color: white;
}

.popup-prikaz{
    padding-left: 7%;
    padding-top: 2%;
    /* padding-bottom: 1%; */
}

.popup-info{
    text-align: left;
}

.popup-info p{
    padding-top: 15%;
}

.korpa-naziv{
    text-align: left;
    padding-left: 10%;
    padding-top:3%;
    padding-bottom:3%;
    font-size: larger;
    /* text-decoration: underline solid grey;
     */
     border-bottom: 1px solid grey  ;
}

/* kod za footer */

footer {
    position: absolute;
    background: #000000;
    width: 100%;
  }
  footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #afafb6;
  }
  footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details {
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    /* line-height: 40px; */
    color: #000000;
    font-size: 17px;
  
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1) {
    background: #4267b2;
  }
  .top .media-icons a:nth-child(1):hover {
    color: #4267b2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2) {
    background: #1da1f2;
  }
  .top .media-icons a:nth-child(2):hover {
    color: #1da1f2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3) {
    background: #e1306c;
  }
  .top .media-icons a:nth-child(3):hover {
    color: #e1306c;
    background: #fff;
  }
  .top .media-icons a:nth-child(4) {
    background: #0077b5;
  }
  .top .media-icons a:nth-child(4):hover {
    color: #0077b5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5) {
    background: #ff0000;
  }
  .top .media-icons a:nth-child(5):hover {
    color: #ff0000;
    background: #fff;
  }
  footer .content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box {
    margin-right: 55px;
  }
  .link-boxes .input-box input {
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #afafb6;
    background: #140b5c;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #000000;
    margin-top: 5px;
  }
  .box li {
    color: white;
  }
  .link-boxes .input-box input::placeholder {
    color: #afafb6;
    font-size: 16px;
  }
  .porlab {
    color: black;
  }
  .porbor {
    width: 100%;
    border: 2px #afafb6 solid;
    border-radius: 10px;
    color: #ff5c72;
    background-color: white;
  }
  .link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #140b5c;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover {
    opacity: 1;
  }
  footer .bottom-details {
    width: 100%;
    background: #ff5c72;
    border-top: #afafb6 solid 3px;
  }
  footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a {
    margin-right: 10px;
  }